body{
    scroll-behavior:auto;
}

/* Dark Mode */
body.dark-mode {
    background-color: #222;
    color: #fff;
  }
  
/* Light Mode */
body.light-mode {
background-color: #fff;
color: #222;
}

.error_message{
    color: red;
    margin: 6px 0px;
    font-size: large;
 }

 .success_message{
    color: green;
    margin: 6px 0px;
    font-size: large;
 }

.btn-primary{
    color:  rgb(3, 4, 37);
    font-weight: bold;
    background-color: white;
    border: 1px solid rgb(3, 4, 37);
    padding: 7px;
    border-radius: 10px;
    transition: .3s;
    
}

.btn-primary:hover{
    color: white;
    background-color: rgb(3, 4, 37);
    transition: .3s;
}

.btn-danger{
    color:  red;
    font-weight: bold;
    background-color: white;
    border: 1px solid red;
    padding: 7px;
    border-radius: 10px;
    transition: .3s;
}

.btn-danger:hover{
    color:  white;
    background-color: red;
    border: 1px solid red;
    transition: .3s;
}



input.form-control{
    border: 1px solid rgb(175, 175, 175);
}

input.form-control:focus{
    box-shadow: none;
    border: 1px solid rgb(3, 4, 37);
}
