.container-xl{
  padding-left:20px;
  padding-right:55px;
}

.btn-primary{
  margin: 5px 0px 0px 5px;
}
.fixed-nav{
  border-right: 1px solid rgb(189, 189, 189);
}

.setting-link ul{
  list-style: none;
  margin: 0px;
  padding: 10px;
  font-weight: bold;
}
.setting-link ul li a{
  padding: 10px 5px;
  border-radius: 10px;
  font-size: 18px;
}
.setting-link ul li a:hover{
  background-color: rgb(238, 238, 238);
}

.section{
  margin-bottom: 30px;
}

.content{
  max-height: calc(100vh - 66px); /* Adjust the height as needed */
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  scroll-behavior: smooth;
}

.content::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
}

.content::-webkit-scrollbar-thumb {
  background-color: transparent; /* For Chrome, Safari, and Opera */
}