.container-xl{
  padding-top: 20px;
  padding-left:70px;
  padding-right:70px;
}

.btn-primary{
  margin: 5px 0px 0px 5px;
}

nav ul{
  list-style-type: none;
  width: 100%;
  padding: 0px;
}

nav ul li{
  padding:10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

nav ul li:hover{
  background-color: rgb(219, 219, 219);
}

nav ul a{
  text-decoration: none;
  color: black;
}

.section{
  margin-bottom: 30px;
}