<!DOCTYPE html>
<html>

<head>
    <title>Sorry, an error occurred</title>
</head>

<body>
    <h1>:(</h1>
    <h5>An error occured while trying to connect to database</h5>
    <a href="/">retry</a>
</body>

</html>