/* Form container */
.form-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .form-container1 {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .form-container2 {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .form-container3 {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  /* Form header */
  .form-header {
    text-align: center;
    margin-bottom: 20px;
    white-space: nowrap;
  }
  
  .title{
    font-weight: bold;
    text-decoration: underline;
  }
  
  /* Form fields */
  .form-field {
    margin-bottom: 20px;
  }
  
  /* Label */
  .form-label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:15px
  }
  .form-label1 {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:15px
  }
  
  /* Input field */
  .form-input {
    width: 40%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
  }
  .form-input1 {
    width: 50%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .radio {
    padding: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:20px;
    width:25%
  }
  .radio1 {
    padding: 5px;
    font-weight: bold;
    margin-top:15px;
    width:15%
  }
  .estez {
    padding: 5px;
    font-weight: bold;
    margin-top:15px;
    width:15%
  }
  .radio4 {
    padding: 5px;
    font-weight: bold;
    margin-top:15px;
    width:15%
  }
  .radio2 {
    padding: 5px;
    font-weight: bold;
    margin-top:15px;
    width:10%
  }
  .service {
    padding: 5px;
    font-weight: bold;
    margin-top:15px;
    width:10%
  }
  .radio3 {
    padding: 5px;
    font-weight: bold;
    margin-top:15px;
    width:15%
  }
  
  /* Submit button */
  .form-submit {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:15px
  }
  
  /* Submit button hover effect */
  .form-submit:hover {
    background-color: #45a049;
  }
 
  .form {
    display: inline-block;
    width: 30%; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between forms */
    width: 50%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form1 {
    display: inline-block;
    width: 20%; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between forms */
    width: 20%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form4 {
    width: 20%; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between forms */
    width: 17%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .sectour {
    width: 20%; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between forms */
    width: 17%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form5 {
    width: 100%;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form2 {
    display: inline-block;
    width: 40%; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between forms */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form3 {
    display: inline-block;
    width: 15%; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between forms */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
  }
  