<nav class="navbar navbar-expand-lg custom-nav p-0">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/donations"><i class="bi bi-arrow-left"></i>Back to donations</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"><i class="bi bi-person custom-icon"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings"><i class="bi bi-gear-fill"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="bi bi-box-arrow-right custom-icon"></i></a>
            </li>
        </ul>
      </div>
    </div>
  </nav>