<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head.ejs')%>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <div>
        <%-include('./includes/nav.ejs')%>

        <div class="container">
            <div class="row justify-content-center">
                <a class="column col-md-2 m-2 d-flex flex-column align-items-center justify-content-center" href="test">
                    <img src="addForm.png" alt="Add Form" style="height: 100px;width: 100px;">
                    <p>Add form</p>
                </a>
                <a href="/all-beneficiaries" class="column col-md-2 m-2 d-flex flex-column align-items-center justify-content-center">
                    <img src="forms.png" alt="All Forms" style="height: 100px;width: 100px;">
                    <p>All Forms</p>
                </a>
                <a href="/donations" class="column col-md-2 m-2 d-flex flex-column align-items-center justify-content-center">
                    <img src="distribution.png" alt="Donations" style="height: 100px;width: 100px;">
                    <p>Donations</p>
                </a>
            </div>
            <div class="row justify-content-center">
                <a class="column col-md-2 m-2 d-flex flex-column align-items-center justify-content-center">
                    <img src="account.png" alt="Accounts" style="height: 100px;width: 100px;">
                    <p>Accounts</p>
                </a>
                <a class="column col-md-2 m-2 d-flex flex-column align-items-center justify-content-center">
                    <img src="medicine.png" alt="medicine" style="height: 100px;width: 100px;">
                    <p>medicine</p>
                </a>
                <a class="column col-md-2 m-2 d-flex flex-column align-items-center justify-content-center">
                    <img src="activities.png" alt="activities" style="height: 100px;width: 100px;">
                    <p>activities</p>
                </a>
            </div>
            <div class="row justify-content-center">
                <a href = "/export/donations" class="column col-md-2 m-2 d-flex flex-column align-items-center justify-content-center">
                   <img src="Export.png" alt="Exports" style="height: 100px;width: 100px;">
                   <p>Exports</p>
                </a>
            </div>
        </div>
    </div>
</body>
<script src="./JS/script.js"></script>
</html>