<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head.ejs')%>
</head>
<body>
    <div>
        <div style="display: flex; padding: 0">
            <h1 style="margin: 0;">Home Page</h1>
            <a href="/logout">logout</a>
        </div>
        <h2>welcome <%=username %></h2>
        <a href="/all-beneficiaries"> Formulaires </a><br>
        <a href="/settings">Profile</a>
    </div>
</body>
</html>