<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main_style.css">
    <title><%=pageTitle%></title>
</head>
<body>
    <form action="/test" method="post">
        <div class="container" id="childrenFromContainer">
            <h4>Children Section</h4>
            <button type="button" id="addChildButton" class="btn-primary">Add new children form</button>
            <div class="container m-3" id="childrenForm">

            </div>
        </div>
        <button type="submit">Oul Allah</button>
    </form>

    <!-------Children form for cloning------>
    <div id="childrenFromToClone" style="display: none;">
        <h5 id="childNumberTitle">childNumberTitle</h5>
        <hr>
        <div class="row m-3 d-flex align-center justify-content-center" >
            <div class="col-md-5">
                <label for="childName">childName</label>
                <input type="text" name="childName" id="childName">
            </div>
        </div>
        <div class="row m-3 align-center justify-content-center" >
            <div class="col-md-5">
                <input type="checkbox" class="toggleTable">
                <table id="healthTable" style="display: none;">
                    <thead>
                        <th>disease</th>
                        <th>mediaction</th>
                        <th>to buy</th>
                        <th>start date</th>
                        <th>end date</th>
                        <th>comment</th>
                    </thead>
                    <tbody>
                        <tr id="healthRow">
                            <td>
                                <select name="disease[]">
                                    <option value="disease1">disease1</option>
                                    <option value="disease2">disease2</option>
                                    <option value="disease3">disease3</option>
                                    <option value="disease4">disease4</option>
                                </select>
                            </td>
                            <td>
                                <select name="medication[]">
                                    <option value="medication1">medication1</option>
                                    <option value="medication2">medication2</option>
                                    <option value="medication3">medication3</option>
                                    <option value="medication4">medication4</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" name="toBuy[]" value="buy">
                            </td>
                            <td>
                                <input type="date" name="startDate[]">
                            </td>
                            <td>
                                <input type="date" name="endDate[]">
                            </td>
                            <td>
                                <input type="text" name="comment[]">
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <button type="button" onclick="addRowToTable()" class="addRowButton">add row</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</body>
<script src="../JS/test.js"></script>
</html>